body {
    background-color: #26282b;
}

.main-title {
    padding: 30px 0;
}

.main-title h1 {
    text-align: center;
    font-size: 25px;
    background-color: #454d55;
    padding: 10px 0;
    border-radius: 10px;
    color: white;
}

.stats-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #454d55;
    border-radius: 10px;
    padding: 25px 0;
    width: 100%;
    margin: 0 auto;
}

.stats-box div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.stats-box h1 {
    font-size: 22px;
    color: white;
}

.recovered {
    color: #8ACA2B;
}

.death {
    color: red;
}

.total {
    color: #8080FF;
}

.table {
    margin: 30px 0;
}

.active {
    color: white;
}